@font-face {
    font-family: "Gotham Medium";
    src: url(fonts/Gotham-Medium_1.ttf);
}
@font-face {
    font-family: "Gotham Light Regular";
    src: url(fonts/Gotham-Light_1.ttf);
}

@font-face {
  font-family: "American Typewriter Bold";
  src: url(fonts/AmericanTypewriter-Bold.ttf);
}
@font-face {
  font-family: "American Typewriter Regular";
  src: url(fonts/AmericanTypewriter.ttf);
}

@media only screen and (max-width: 768px) {
    .logo {display:none;}
    .why-geek .col-md-3 {;
      padding-top: 10% !important;
    }
    .arrow {
      display: none;
    }
    .arrow2 {
      display: none;
    }

    .media .exel {
      padding-top: 3% !important;
    }
    .media .tv  {
      padding-top: 2%;
      padding-left: 0%  !important;
    }
}
@media only screen and (max-width: 1200px) {
    .connect {display: none;}
    .arrow {
      display: none;
    }
    .arrow2 {
      display: none;
    }
    .media .exel {
      padding-top: 3% !important;
    }
    .media .tv  {
      padding-top: 2%;
      padding-left: 0%  !important;
    }
}

::-webkit-input-placeholder {
    color: #364146;
}

body {
  overflow-x: hidden;
}

.border {
  border: 2px solid black;
}

.bluetext {
  color: #3697b7 !important;
}

.customnav {
  margin: 10px;
  text-align: center;
}

.logo img{
  height: 45px;
}

.connect {
  padding-top: .5%;
  padding-bottom: .5%;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 5%;
  margin-left: 10%;
  background-color: lightgray;
  font-size: 30px;
  opacity: .7;
  background-size: auto;
  float: left;
  font-family: "Gotham Light Regular";
  color: #364146;
}

.search-area {
  background-image: url(images/HeaderImage.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  padding: 100px;
  background-size: cover;
  color: white;
  font-family: "American Typewriter Bold";

}
.searching {
  color: #364146 !important;
  font-family: "Gotham Light Regular";
}

.searching span{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 9px;
  padding-bottom: 7px;
  border: 1px solid white;
}

.bar {
  height: 10%;
  width: 300px;
  font-size: 30%;
  border: none;
  padding-left: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  padding-top: 1px;
}
.search-bars {
  text-align: center;
  font-size: 70px;
  margin-top: 15%;
}

.search-button {
  color: white !important;
  background-color: #3697b7 !important;
  border: none;
  height: 10%;
  font-size: 30%;
  width: 150px;
  padding-top: 5px;
}

.materias {
  background-color: #364146;
  color: white;
  font-size: 20px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  font-family: "Gotham Medium";
}
.materias a{
  color: #3697b7;
}

.materias .mat{
  background-image: url(images/icon-matematicas.png);
  background-repeat: no-repeat;
  background-size: 150px auto;
  background-position: center;
}

.materias .mat .names {
  visibility: hidden;
}

.materias .mat:hover .names{
  visibility: visible;
}

.materias .mat:hover {
  background-image: none;
}
.materias .cien{
  background-image: url(images/icon-ciencias.png);
  background-repeat: no-repeat;
  background-size: 150px auto;
  background-position: center;
}

.materias .cien .names {
  visibility: hidden;
}

.materias .cien:hover .names{
  visibility: visible;
}

.materias .cien:hover {
  background-image: none;
}

.materias .test{
  background-image: url(images/icon-test-prep.png);
  background-repeat: no-repeat;
  background-size: 150px auto;
  background-position: center;
}

.materias .test .names {
  visibility: hidden;
}

.materias .test:hover .names{
  visibility: visible;
}

.materias .test:hover {
  background-image: none;
}

.materias .idiomas{
  background-image: url(images/icon-idiomas.png);
  background-repeat: no-repeat;
  background-size: 150px auto;
  background-position: center;
}

.materias .idiomas .names {
  visibility: hidden;
}

.materias .idiomas:hover .names{
  visibility: visible;
}

.materias .idiomas:hover {
  background-image: none;
}

.materias .artes{
  background-image: url(images/icon-artes.png);
  background-repeat: no-repeat;
  background-size: 150px auto;
  background-position: center;
}

.materias .artes .names {
  visibility: hidden;
}

.materias .artes:hover .names{
  visibility: visible;
}

.materias .artes:hover {
  background-image: none;
}

.materias .comp{
  background-image: url(images/icon-computacion.png);
  background-repeat: no-repeat;
  background-size: 150px auto;
  background-position: center;
}

.materias .comp .names {
  visibility: hidden;
}

.materias .comp:hover .names{
  visibility: visible;
}

.materias .comp:hover {
  background-image: none;
}

.how-works {
  text-align: center;
  padding: 5%;
  font-family: "Gotham Medium";
}


.how-works p{
  margin-top: 5%;
  font-weight: bolder;
  font-size: 20px;
}

.works-area {
  margin-top: 15px;
}

.arrow {
  height: 40px;
  width: auto;
  position: absolute;
  top: 230px;
  left: 90%;
}
.arrow2 {
  height: 40px;
  width: auto;
  position: absolute;
  top: 230px;
  left: 90%;
}

.works-area span{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid white;
}

.works-button {
  color: white !important;
  background-color: #3697b7 !important;
  border: 1px solid white;
  height: 80px;
  font-size: 20px;
  width: 250px;
}


.geek-quote {
  background-image: url(images/bg-testimonial.jpg);
  width: 100%;
  height: 40%;
  background-size: cover;
  color: white;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
}

.in-quote {
  background-color:rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  color: black;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;

}

.in-quote h2 {
  font-family: "Gotham Medium" !important;
  color: #364146 !important;
  font-size: 150%;
}

.in-quote p{
  font-size: 100%;
  font-family: "Gotham Light Regular";
}

.in-quote strong {
  color: #6397b7 !important;
  font-size: 40px;
  font-family: "American Typewriter Bold";
}

.in-quote img {
  height: 30px;
  width: auto;
}

.why-geek {
  padding-bottom: 5%;
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
}

.why-geek .title{
  text-align: center;
  font-family: "Gotham Medium";
  font-size: 50px;
  color: #364146;
  padding-bottom: 0px !important;
}

.why-geek .col-md-4 {
  height: 40%;
  /*background-color:lightgray;*/
  /*opacity: .7;*/
  border: solid 10px white;
  padding-top: 3%;
  border-radius: 15px;
}

.why-geek .why {
  text-align: center;
  font-family: "Gotham Light Regular";
  font-size: 13px;
  text-transform: uppercase;
}

.why-geek img {
  height: 60px;
  margin-bottom: 5%;
}

.media {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  background-image: url(images/bg-testimonial.jpg);

}

.media .radio  {
}

.media .tv  {
  padding-top: 2%;
  padding-left: 5%;
}

.media .exel  {
  padding-top: 5%;
}
.media .univ  {
  padding-top: 2%;
}
.media .publi  {
  padding-top: 3%;
}


.footer {
  background-color: #364146;
  color: #808184;
  padding-top: 3%;
  padding-bottom: 3%;
  border-top: 5px solid #6397b7;
  font-family: "Gotham Medium"
}

.footer .social {
  text-align: center;
  font-size: 20px;
  font-family: "Gotham Medium";
}

.footer i{
  color: white;
  margin-left: 3%;
  margin-right: 1%;
  margin-top: 3%;
  font-style: normal;
  font-size: 35px;
}

.footer .extra-1 {
  text-align: right;
}
.footer .extra-2 {
  text-align: left;
  border-left: 2px solid #808184;
}

.footer ul {
  list-style: none;
}

.footer li {
  margin-top: 3%;
  margin-bottom: 3%;
}
