@font-face {
    font-family: "Gotham Medium";
    src: url(fonts/Gotham-Medium_1.ttf);
}
@font-face {
    font-family: "Gotham Light Regular";
    src: url(fonts/Gotham-Light_1.ttf);
}
@font-face {
    font-family: "Gotham Book Regular";
    src: url(fonts/Gotham-Book_1.ttf);
}

@font-face {
  font-family: "American Typewriter Bold";
  src: url(fonts/AmericanTypewriter-Bold.ttf);
}
@font-face {
  font-family: "American Typewriter Regular";
  src: url(fonts/AmericanTypewriter.ttf);
}


@media only screen and (max-width: 1200px) {
    .connect {display: none;}
    #shop {
      text-align: center !important;
      padding-left: 43% !important;
      padding-top: 2%;
    }
    .rating img {
      max-width: 50px;
      height: auto;
      z-index: -1;
      position: absolute;
      left: 48% !important;
      top: 10px;
    }
    .rating .hours {
      color: white !important;
      position: absolute;;
      left: 49.3% !important;
      top: 34px;
      font-size: 7px;
      line-height: 1em;
    }

    .price {
      border-top: 1px solid gray;
      margin-left: 60px;
      margin-right: 60px;
      border-left: none !important;
    }

}
@media only screen and (max-width: 768px) {  /*For mobile*/
    .logo {
      display:none;
    }

    .why-geek .col-md-3 {;
      padding-top: 10% !important;
    }

    .order-by {
      margin-left: 0% !important;
    }

    .results .photo {
      padding-left: 0px;
      padding-right: 0px;
    }

    .tutor-desc h2{
      text-align: center;
    }

    .tutor-desc h4 {
      text-align: center;
    }

    .tutor-desc .box{
      margin-left: 40px;
    }

    #shop {
      padding-left: 170px !important;
      padding-top: 3% !important;
    }

    .hours{
      left: 42.5% !important;
    }

    .rating img {
      max-width: 50px;
      height: auto;
      z-index: -1;
      position: absolute;
      left: 220px !important;
      top: 10px;
    }

    .rating .hours {
      color: white !important;
      position: absolute;;
      left: 232px !important;
      top: 34px;
      font-size: 7px;
      line-height: 1em;
    }

    .price {
      border-top: 1px solid gray;
      margin-left: 60px;
      margin-right: 60px;
      border-left: none !important;
    }


}

::-webkit-input-placeholder {
    color: #364146;
}

body {
  overflow-x: hidden;
}
 br {
  line-height: 3em;
}

.border {
  border: 2px solid black;
}

.bluetext {
  color: #3697b7 !important;
}

.customnav {
  margin: 10px;
  text-align: center;
}

.logo img{
  height: 45px;
}

.connect {
  padding-top: .5%;
  padding-bottom: .5%;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 5%;
  margin-left: 10%;
  background-color: lightgray;
  font-size: 30px;
  opacity: .7;
  background-size: auto;
  float: left;
  font-family: "Gotham Light Regular";
  color: #364146;
}

.search-area {
  background-image: url(images/HeaderImage.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  padding: 100px;
  background-size: cover;
  color: white;
  font-family: "American Typewriter Bold";

}
.searching {
  color: #364146 !important;
  font-family: "Gotham Light Regular";
}

.searching span{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 9px;
  padding-bottom: 7px;
  border: 1px solid white;
}

.bar {
  height: 10%;
  width: 300px;
  font-size: 30%;
  border: none;
  padding-left: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  padding-top: 1px;
}
.search-bars {
  text-align: center;
  font-size: 70px;
  margin-top: 15%;
}

.search-button {
  color: white !important;
  background-color: #3697b7 !important;
  border: none;
  height: 10%;
  font-size: 30%;
  width: 150px;
  padding-top: 5px;
}

.profile-search {
  padding-left: 5%;
  padding-top: 1%;
  font-family: "American Typewriter Bold";
  color: #6397b7;
  font-size: 20px;

}
.profile-search form {
  margin-bottom: 0px;
}

.profile-search span {
  color: #808184;
  font-family: "Gotham Light Regular";
  font-size: 10px;
}

.profile-search .bar {
  font-family: "Gotham Light Regular";
  border: 1px solid #808184;
  height: 40px;
}

.profile-search .search-button {
  height: 40px;
  padding-top: 3px;
}
.profile-search .search-button span{
  font-size: 15px;
  border: 1px solid white;
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 35px;
  padding-right: 35px;
  font-family: "Gotham Medium";
}

.filters {
  margin-left: 5%;
  margin-top: 1%;
  font-family: "Gotham Book Regular";
  color: #808184;
}

.filters input {
  margin-left: 1% !important;
}

.filters select {
  text-align: right;
}

.order-by {
  margin-left: 10%;
}

.drop-btn {
  background-color: lightgray !important;
  color: black !important;
  width: 150px;
  height: 30px;
}


.results {
  padding-left: 5%;
  padding-top: 5%;

}

.results .row {
  margin-bottom: 5px;
  background-color: lightgray;
  margin-right: 60px !important;
  z-index: -2 !important;
}

.results .photo {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

.results .tutor-desc{
  height: 160px;
  overflow: hidden;
  padding-top: 1%;
  text-overflow: ellipsis;
  white-space: normal;
}
.results h2{
  padding: 0px !important;
  margin: 0px;
}

.results img {
  display: inline;

}

.results .description {
  height: 90px;
  padding-bottom: 15px;
  width: 90%;
  font-family: "Gotham Light Regular";
  color: #808184;
}

.tutor-desc h2 {
    font-family: "Gotham Book Regular";
}
.tutor-desc h4 {
    font-family: "Gotham Book Regular";
    color: #808184;
}
.tutor-desc span {
    color: #6397b7;
}

.rating {
  text-align: center;
  font-family: "Gotham Medium";
  color: #6397b7;
  padding-top: 3%;
  height: 160px !important;
}

.rating .row {
  text-align: center;
}

.rating img {
  max-width: 50px;
  height: auto;
  z-index: -.5;
  position: absolute;
  left: 75px;
  top: 10px;
}

.rating .hours {
  color: white;
  position: absolute;;
  left: 87px;
  top: 34px;
  font-size: 7px;
  line-height: 1em;
}

.rating br{
  line-height: normal;
}

.hours span {
  font-size: 15px;
}

#shop {
  text-align: center !important;
  padding-left: 15%;
}

.row {
  margin-bottom: 20px !important;
}


.price {
  text-align: center;
  color: #6397b7;
  font-family: "Gotham Medium";
  padding-bottom: 10px;
  padding-top: 10px;
  border-left: 1px solid gray;

}

.price #money {
  font-size: 30px;
  display: block;
  line-height: normal;
}

.price #coin {
  font-size: 20px;
  display: block;
  line-height: normal;
}

.price #time {
  font-size: 10px !important;
  display: block;
  line-height: normal;
}

.price br{
  line-height: normal;
}

.price t{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 9px;
  padding-bottom: 7px;
  border: 1px solid white;
}

.search-button {
  color: white !important;
  background-color: #3697b7 !important;
  border: none;
  height: 5%;
  font-size: 70%;
  width: 150px;
  padding-top: 5px;
}

.clear {
  opacity: .7;
}
